<ng-container *ngIf="!showStepper">
    <img src="/assets/farmbuddy.svg" class="logo-image" />
    <h1>Farmbuddy</h1>
    <button nbButton hero size="giant" (click)="enableStepper()">Los Geht's</button>
</ng-container>

<nb-stepper orientation="horizontal" linear="true" *ngIf="showStepper" #stepper>
    <div class="header test">Hello header</div>
    <nb-step label="Account">
        <div class="mobile-step-count">{{ stepper.selectedIndex + 1 }} / 7</div>
        <h4>Persönliche Daten</h4>
        <div class="input-container">
            <input nbInput type="text" placeholder="Name..." value="Stefan" />
            <input nbInput type="email" placeholder="E-Mail..." value="stefan@gardening.de" />
            <input nbInput type="password" placeholder="Passwort..." value="secretpassword" />
        </div>
        <!-- <button nbButton disabled nbStepperNext>prev</button> -->
        <button nbButton status="basic">Login</button>
        <button nbButton (click)="goNext()">Registrieren</button>
    </nb-step>
    <nb-step label="Ort">
        <div class="mobile-step-count">{{ stepper.selectedIndex + 1 }} / 7</div>
        <h4>Wo sollen die Pflanzen stehen?</h4>

        <div class="card-button-container">
            <!-- BIG BUTTONS -->
            <nb-card class="card-button" (click)="select('location', 'indoor')">
                <nb-card-body>
                    <img src="assets/indoor-plants.png" />
                    Drinnen
                </nb-card-body>
            </nb-card>

            <nb-card class="card-button" (click)="select('location', 'outdoor')">
                <nb-card-body>
                    <img src="assets/outdoor-plants.png" />
                    Draußen
                </nb-card-body>
            </nb-card>
        </div>
    </nb-step>
    <nb-step label="Licht">
        <div class="mobile-step-count">{{ stepper.selectedIndex + 1 }} / 7</div>
        <h4>Lichtverhältnisse</h4>
        <div class="card-button-container">
            <!-- BIG BUTTONS -->
            <nb-card class="card-button" (click)="select('light', 'small')">
                <nb-card-body>
                    <img src="assets/sun-25.png" />
                    Schattig
                </nb-card-body>
            </nb-card>

            <nb-card class="card-button" (click)="select('light', 'medium')">
                <nb-card-body>
                    <img src="assets/sun-50.png" />
                    Halb-Schattig
                </nb-card-body>
            </nb-card>
            <nb-card class="card-button" (click)="select('light', 'big')">
                <nb-card-body>
                    <img src="assets/sun-100.png" />
                    Sonnig
                </nb-card-body>
            </nb-card>
        </div>
    </nb-step>
    <nb-step label="Platz">
        <div class="mobile-step-count">{{ stepper.selectedIndex + 1 }} / 7</div>
        <h4>Wie viel Platz hast du?</h4>
        <div class="card-button-container">
            <!-- BIG BUTTONS -->
            <nb-card class="card-button" (click)="select('plantsize', 'small')">
                <nb-card-body>
                    <img src="assets/plant-small.png" />
                    z.B. Kräuter
                </nb-card-body>
            </nb-card>

            <nb-card class="card-button" (click)="select('plantsize', 'medium')">
                <nb-card-body>
                    <img src="assets/plant-big.png" />
                    z.B. Kopfsalat
                </nb-card-body>
            </nb-card>
            <nb-card class="card-button" (click)="select('plantsize', 'big')">
                <nb-card-body>
                    <img src="assets/plant-big-small.png" />
                    z.B. Tomaten
                </nb-card-body>
            </nb-card>
        </div>
    </nb-step>
    <nb-step label="Vorlieben">
        <div class="mobile-step-count">{{ stepper.selectedIndex + 1 }} / 7</div>
        <h4>Anbau-Vorlieben</h4>
        <nb-select
            (selectedChange)="selectedChanged($event)"
            multiple
            hero
            status="primary"
            size="giant"
            placeholder="Lieblingspflanzen"
            #vorliebeSelect
        >
            <nb-option *ngFor="let item of vorliebeItems" [value]="item.value" [disabled]="item.disabled">{{
                item.title
            }}</nb-option>
        </nb-select>
        <br />
        <button nbButton (click)="goNext()">Weiter</button>
    </nb-step>
    <nb-step label="Equipment">
        <div class="mobile-step-count">{{ stepper.selectedIndex + 1 }} / 7</div>
        <h4>Was für Equipment besitzt du bereits?</h4>
        <div class="checkbox-container">
            <nb-checkbox (checkedChange)="equipmentToggle($event, 'schaufel')">Schaufel</nb-checkbox>
            <nb-checkbox (checkedChange)="equipmentToggle($event, 'blumentoepfe')">Blumentöpfe</nb-checkbox>
            <nb-checkbox (checkedChange)="equipmentToggle($event, 'rankstange')">Rankstangen</nb-checkbox>
        </div>
        <button nbButton (click)="timeoutLoading()">Weiter</button>
    </nb-step>
    <nb-step label="Empfehlung">
        <div class="mobile-step-count">{{ stepper.selectedIndex + 1 }} / 7</div>
        <ng-container *ngIf="loading">
            <img src="assets/ezgif.com-gif-maker.gif" class="loading-gif" />
            <p>Einen Moment, wir treffen die perfekte Auswahl für dich...</p>
            <br />
        </ng-container>
        <ng-container *ngIf="!loading">
            <h4>Du hast es geschafft!</h4>
            <p>
                Aufgrund deiner Eingaben, Jahreszeit und Wettervorhersagen empfehlen wir dir folgende Pflanzen
                anzubauen. Wähle deinen Favorit aus und schon kann es losgehen.
            </p>
            <div class="recommendation-card-wrapper">
                <nb-card
                    class="recommendation-card"
                    *ngFor="let item of recommendations"
                    [class.recommendation-selected]="item.selected"
                    (click)="selectRecommendation(item)"
                >
                    <nb-card-body>
                        <img [src]="item.img" />
                        <h5>{{ item.title }}</h5>
                        <div>{{ item.text }}</div>
                        <div>
                            Schwierigkeitsgrad:
                            <nb-icon
                                *ngFor="let i of item.skillLevel"
                                [status]="i > 0 ? 'basic' : ''"
                                icon="settings-outline"
                            ></nb-icon>
                        </div>
                        <button nbButton status="basic" (click)="openDialog(item)">Mehr Infos</button>
                    </nb-card-body>
                </nb-card>
            </div>
            <button nbButton nbStepperNext (click)="finish()">Los Geht's</button>
        </ng-container>
    </nb-step>
</nb-stepper>
