.overview-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-gap: 10px;
}

.premium-card {
    height: 300px;
    grid-column: 1 / span 2;
}

.top-tipps {
    // grid-area: 1 / 3 / 1 / 4;
}

.video {
    // grid-area: 2 / 1 / 2 / 4;
    // grid-column: 1 / last-line;
    grid-column: 1 / -1;
}
