<div class="overview-wrapper">
    <nb-card class="premium-card">
        <span></span>
        <div>
            <h5>Premium stuff, jetzt Sensor kaufen</h5>
        </div>
    </nb-card>
    <nb-card class="top-tipps">
        <div class="image-container"></div>
        <div class="profile">
            <img src="assets/stefan-lang.png" />
            <h6>StefanLovesGardening</h6>
            <nb-icon icon="award-outline" status="success"></nb-icon>
        </div>
        <h5>Meine Top 10 Tipps für den ersten Gemüseanbau</h5>
        <p>Hochgeladen am: 19.11.2019 | 23 Kommentare</p>
    </nb-card>
    <nb-card class="video">
        <img src="assets/play.png" />
        <!-- <nb-icon icon="play-circle-outline" status="success"></nb-icon> -->
    </nb-card>
</div>
