<div class="overview-wrapper">
    <nb-card class="premium-card">
        <div class="premium-card-content">
            <img src="assets/premium.png" />
            <div class="text-container">
                <h5>Jetzt Sensor kaufen</h5>
                <p>
                    Als Neukunde erhältst du beim Kauf eines Sensors 3 Monate unserer Premium-Mitgliedschaft
                    <b>for free.</b>
                </p>
                <button nbButton>Werde zum Buddy</button>
            </div>
        </div>
    </nb-card>
    <nb-card class="top-tipps">
        <div class="image-container"></div>
        <div class="profile">
            <img src="assets/stefan-lang.png" />
            <h6>StefanLovesGardening</h6>
            <img class="badge-img" src="assets/premium.png" />
            <!-- <nb-icon icon="award-outline" status="success"></nb-icon> -->
        </div>
        <h5>Meine Top 10 Tipps für den ersten Gemüseanbau</h5>
        <p>Hochgeladen am: 19.11.2019 | 23 Kommentare</p>
    </nb-card>
    <nb-card class="video">
        <div>
            <h5>So baust du Kresse an</h5>
            <span class="spacer"></span>
            <button nbButton status="basic">Zur Anleitung</button>
        </div>
        <span class="spacer"></span>
        <img nbTooltip="Videos gibt es nur für Buddies" nbTooltipStatus="warning" src="assets/play.png" />
        <span class="spacer"></span>
    </nb-card>
</div>
