<nb-layout>
    <nb-layout-header fixed *ngIf="!navService.hideFrame">
        <span>Farmbuddy</span>
        <span class="flex-grow-1"></span>
        <button nbButton status="primary" (click)="sidebar.toggle()">
            <nb-icon icon="menu-outline"></nb-icon>Menu
        </button>
    </nb-layout-header>

    <nb-sidebar responsive right #sidebar *ngIf="!navService.hideFrame">
        <nb-sidebar-header>Header</nb-sidebar-header>
        <nb-menu [items]="menuItems"></nb-menu>
        <nb-sidebar-footer>Footer</nb-sidebar-footer>
    </nb-sidebar>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer fixed *ngIf="!navService.hideFrame">
        <!-- Insert footer here -->
    </nb-layout-footer>
</nb-layout>
