<nb-layout>
    <nb-layout-header fixed *ngIf="!hideFrame">
        <span class="app-title">Farmbuddy</span>
        <span class="flex-grow-1"></span>
        <button nbButton status="primary" (click)="sideContent.toggle()">
            <nb-icon icon="menu-outline"></nb-icon>Menu
        </button>
    </nb-layout-header>

    <nb-sidebar #sideContent responsive right [class.hidden]="hideFrame">
        <!-- <nb-sidebar-header>Header</nb-sidebar-header> -->
        <nb-menu [items]="menuItems"></nb-menu>
        <!-- <nb-sidebar-footer>Footer</nb-sidebar-footer> -->
    </nb-sidebar>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer fixed *ngIf="!hideFrame">
        <!-- Insert footer here -->
    </nb-layout-footer>
</nb-layout>
