.super-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.shopping-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

nb-checkbox {
    margin-bottom: 5px;
    ::ng-deep .custom-checkbox {
        width: 1.5rem;
        height: 1.5rem;
    }
    ::ng-deep .text {
        font-size: medium;
        display: inline-flex;
        align-items: center;
        p {
            margin: 0;
            font-weight: normal;
        }
    }
}

.maps-card {
    padding: 20px;
    margin-top: 20px;
    background-image: url("/assets/maps.png");
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // width: 45%;

    .losButton {
        img {
            width: 33%;
        }
        border-radius: 20px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        .text-container {
            margin: 0 auto;
            text-align: center;
        }
    }
}

.bundle-card {
    grid-column: 1 / span 2;
    background-image: url("/assets/bundle.png");
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // width: 45%;

    .bundleKaufButton {
        img {
            width: 33%;
        }
        border-radius: 20px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        .text-container {
            margin: 0 auto;
            text-align: center;
        }
    }
}
