.todo-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

nb-checkbox {
    margin-bottom: 5px;
    ::ng-deep .custom-checkbox {
        width: 1.5rem;
        height: 1.5rem;
    }
    ::ng-deep .text {
        font-size: medium;
        display: inline-flex;
        align-items: center;
        p {
            margin: 0;
            font-weight: normal;
        }
    }
    img {
        width: 20px;
        margin-left: 5px;
    }
}
